rf/schemas/EnterpriseSearchResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.umusic.com/enterprise/services/2014/05" xmlns:ns0="http://schemas.umusic.com/enterprise/services/2014/05">
    <xs:element name="SearchResult">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ns0:Offset"/>
                <xs:element ref="ns0:Rows"/>
                <xs:element ref="ns0:Total"/>
                <xs:element ref="ns0:MaxScore"/>
                <xs:element ref="ns0:Matches"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Offset" type="xs:integer"/>
    <xs:element name="Rows" type="xs:integer"/>
    <xs:element name="Total" type="xs:integer"/>
    <xs:element name="MaxScore" type="xs:decimal"/>
    <xs:element name="Matches">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ns0:Match"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Match">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ns0:Score"/>
                <xs:element ref="ns0:ResourceName"/>
                <xs:element ref="ns0:ResourceId"/>
                <xs:element ref="ns0:ResourceCreatedUtc"/>
                <xs:element ref="ns0:Result"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Score" type="xs:decimal"/>
    <xs:element name="ResourceName" type="xs:NCName"/>
    <xs:element name="ResourceId" type="xs:NCName"/>
    <xs:element name="ResourceCreatedUtc" type="xs:NMTOKEN"/>
    <xs:element name="Result">
        <xs:complexType>
            <xs:sequence>
                <xs:any processContents='skip'/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
